@model ISFMOCM_Project.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="bs-example">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>បង្កើតគណនីអ្នកប្រើប្រាស់</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            នាមខ្លួន@*@Html.LabelFor(m => m.FirsName, new { @class = " control-label" })*@
                        </div>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FirsName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            គោត្តនាម@*@Html.LabelFor(m => m.LastName, new { @class = " control-label" })*@
                        </div>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                           គណនីអ្នកប្រើប្រាស់ @*@Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })*@
                        </div>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                           អ៊ីម៉ែល@* @Html.LabelFor(m => m.Email, new { @class = " control-label" })*@
                        </div>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            សិទ្ធិរបស់អ្នកប្រើប្រាស់@*@Html.LabelFor(m => m.Role, new { @class = "col-md-2 control-label" })*@
                        </div>
                        <div class="col-md-10">
                            @Html.DropDownList("Role", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            លេខសម្ងាត់@*@Html.LabelFor(m => m.Password, new { @class = " control-label" })*@
                        </div>
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            ផ្ទៀងផ្ទាត់លេខសម្ងាត់@*@Html.LabelFor(m => m.ConfirmPassword, new { @class = " control-label" })*@
                        </div>
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            @Html.ActionLink("ត្រលប់", "UserList", "Login",null, new { @class = "btn btn-default" })
                            <input type="submit" value="រក្សាទុក" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
