@model ISFMOCM_Project.Models.MandateModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_Mandate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mandate_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mandate_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mandate_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mandate_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mandate_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mandate_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reciever)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reciever)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAcc_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAcc_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAcc_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAcc_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountInWord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountInWord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MEF_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEF_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Electricity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Electricity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Water)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Water)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contribution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contribution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PettyCash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PettyCash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Advance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Advance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvanceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvanceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Advance_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Advance_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Allowance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Allowance)
        </dd>

        <dt>
            អង្គភាព ឬអាជ្ញាធរ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Unit.Unit_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Acc_no)
        </dt>
        <dd>
            @foreach (var acc in Model.Acc_no)
            {
                @acc
                @:<br />
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FCV_no)
        </dt>
        <dd>
            @foreach (var fcv in Model.FCV_no)
            {
                @fcv
                @:<br />
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mandate_amount)
        </dt>
        <dd>
            @foreach (var md in Model.Mandate_amount)
            {
                @md
                @:<br />
            }
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
